body{
    background-color: black;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "montserrat";
}
@font-face{
    font-family: "Montserrate";
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(./fonts/Montserrat-VariableFont_wght.ttf)
}
.container{
    background-image: u;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    font-size: 10px;
}
li :hover{
    color: yellowgreen;
}
nav a{
    text-decoration: none;
    color: white;
}
.items > img{
    width: 180px;
}
img{
   overflow-clip-margin: content-box;
   overflow: clip;
   overflow-x: x;
   overflow-y: y;
}
.First{
    display: flex; 
    margin-top: 30px;
    margin-left: 30px; 
    margin-right: 30px;
}
#dark{
    color: white; 
    font-size: 30px; 
    font-weight: 900; 
    font-family: sans-serif;
}
#dark+p{
    color: white; 
    font-size: 16px; 
    font-family: "Montserrate"; 
    padding-right: 150px; 
    text-align: justify; 
    font-weight: 100;
}
.Second{
    margin-left: 20px;
}
.dark2{
    font-weight: 400;
    font-size: 25px;
    color: yellowgreen;
    font-family: sans-serif;
}
.dark3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.dark4{
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: "Montserrate";
    text-align: justify;
}
.forth{
    display: flex; 
    justify-content: space-between; 
    margin-left: 30px; 
    margin-right: 30px;
}
#mid{
    color: white; 
    font-family: "Montserrate";
    font-size: 20px;
}
#mid+p{
    color: white; 
    font-family: "Montserrate"; 
    font-size: 12px; 
    font-weight: 80;
}
#third{
    color: #bfc500;
    font-size: 25.6px; 
    font-family: "Montserrate"; 
    margin-left: 30px;
}
#third+p{
    color: white; 
    margin-left: 30px; 
    font-size: 16.8px; 
    font-family: "Montserrate";
}
.fifth{
    background-color: #bfc500;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    color: #000;
    align-items: center;
}
#side{
    flex-basis: 200px;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
}
#side+P{
    font-size: 20px;
    flex-basis: 350px;
}
.bu{
    font-size: 18px;
    font-weight: 600;
    flex-basis: 200px;
    color: yellow;
    background-color: black;
    width: 240px;
    height: 75px;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    text-align: center;
    padding: 20px 20px;
}
.bu:hover{
    background-color: yellowgreen;
    color: #000;
}
hr{
    margin-top: 40px; 
    margin-left: 30px; 
    margin-right: 30px;
}
.six{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: sans-serif;
}
.six>img{
    width: 340px;
}
.none{
    line-height: 25px;
    word-spacing: 3px;
    flex-basis: 650px;
}
.none>h1{
    font-weight: bolder;
    font-size: 27.7px;
}
.none>p>a{
    color: #bfc500;
}
.seven{
    font-family: sans-serif;
    margin-left: 30px;
}
.no{
    line-height: 25px;
}
.no>h1{
    font-family: sans-serif;
    line-height: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
}
.no>p{
    font-size: 17px;
    font-weight: 300;
    word-spacing: 4px;
}
.eight{
    margin: 60px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    /* border-bottom: 1px solid white; */
}
.as{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.as>img{
    width: 100px;
    justify-self: center;
}
.as>p{
    flex-basis: 100px;
    font-weight: 100;
    font-size: .8em;
}
.nine{
    display: flex;
    justify-content: space-between;
    
}
.back{
    font-family: sans-serif;
    margin-left: 30px;
    word-spacing: 4px;
    line-height: 20px;

}
.ack>p{
    font-size: 18px;
}
.nine>img{
    justify-self: center;
    width: 180px;
}
.ten{
    line-height: 30px;
}
.ten>h1{
    font-family: sans-serif;
    margin-top: 40px;  
}
.ten p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    word-spacing: 3px;
    margin-top: 30px;
}
.main{
    display: flex;
    font-family: sans-serif;
}
.ek{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.ek>h1{
    margin-right: 60px;
    color: #bfc500;
    font-size: 16px;
    
}
.ek>p{
    text-align: left;
}
.main img{
    height: 350px;
    background-color:#bfc500;
}

/* screen size 1400px check */
@media (max-width:1660px) {
    .items img{
        width: 210px;
        height: 110px;
    }
    .container header nav ul li{
        font-size: 18px;
    }
    .bayc {
        font-size: 22px;
        font-weight: 100;
    }
    #dark{
        font-size: 35px;
    }
    #third{
         font-size:27px ;
    }
    #third+p {
        font-size: 30px;
    }
    #third {
        font-size: 27px;
    }
    .note{
        font-size: 30px;
    }
}
/* screen size 1200px check */
@media (max-width: 1339px) {
    
}
/* screen size 992px check */
@media (max-width: 1199px){

}
/* screen size 768px check */
@media (max-width: 991px) {
    
}
/* screen size 576px check */
@media (max-width: 767px) {
    
}
@media (max-width: 576px) {
    
}
@media (max-width:390px ) {
    
}

